
      <!-- slider -->
      <div class="main-section">
        <div class="photo-section">
          <div class="slider-container">
            <button class="slider-button " id="prevbtn">
              <div class="icon-container">
                <img style="width: 1rem;" class="icon" src="icon-previous.svg" alt="">
              </div>
            </button>
            <button class="slider-button " id="nextbtn">
              <div class="icon-container">
                <img style="width: 1rem;" class="icon" src="icon-next.svg" alt="">
              </div>
            </button>
            <div class="slider">
              <figure class="slides">
                <img class="slide" src="image-product-1.jpg" alt="">
                <img class="slide" src="image-product-2.jpg" alt="">
                <img class="slide" src="image-product-3.jpg" alt="">
                <img class="slide" src="image-product-4.jpg" alt="">
              </figure>
            </div>
          </div>
          <!-- gallary -->
          <div class="pic-container-pc">
            <div class="big">
              <img class="pic" src="image-product-1.jpg" alt="1">
              <img class="pic" src="image-product-2.jpg" alt="2">
              <img class="pic" src="image-product-3.jpg" alt="3">
              <img class="pic" src="image-product-4.jpg" alt="4">
            </div>
            <div class="thumbnail">
              <img src="image-product-1-thumbnail.jpg" alt="">
              <img src="image-product-2-thumbnail.jpg" alt="">
              <img src="image-product-3-thumbnail.jpg" alt="">
              <img src="image-product-4-thumbnail.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- description -->
        <div class="description-section">
          <h3>Sneaker Company</h3>
          <h1>Fall Limited Edition Sneakers</h1>
          <p>These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they'll withstand everything the weather can offer.</p>
          <div class="price-section">
            <div class="price">
              <h2 style="margin: 1px;">$125,00</h2>
              <div class="discount">50%</div>
            </div>
            <h3 style="text-decoration: line-through; color: var(--clr-primary-4);">$250.00</h3>
          </div>
          <div class="add-section">
            <div class="add-to-card">
              <img class="minus" src="icon-minus.svg" alt="">
              <span class="item-num">3</span>
              <img class="plus" src="icon-plus.svg" alt="">
            </div>
            <button class="button">
              <img class="btn--icon" src="icon-cart.svg" alt="">
              <span>Add to Card</span>
            </button>
          </div>
        </div>
      </div>
    