<div class="slider-container">
    <button class="slider-button " id="prevbtn">
      <div class="icon-container">
        <img style="width: 1rem;" class="icon" src="icon-previous.svg" alt="">
      </div>
    </button>
    <button class="slider-button " id="nextbtn">
      <div class="icon-container">
        <img style="width: 1rem;" class="icon" src="icon-next.svg" alt="">
      </div>
    </button>
    <div class="slider">
      <figure class="slides">
        <img class="slide" src="image-product-1.jpg" alt="">
        <img class="slide" src="image-product-2.jpg" alt="">
        <img class="slide" src="image-product-3.jpg" alt="">
        <img class="slide" src="image-product-4.jpg" alt="">
      </figure>
    </div>
  </div> 
  <!-- gallary -->
  <div class="pic-container-pc">
    <div class="big">
      <img class="pic" src="image-product-1.jpg" alt="1">
      <img class="pic" src="image-product-2.jpg" alt="2">
      <img class="pic" src="image-product-3.jpg" alt="3">
      <img class="pic" src="image-product-4.jpg" alt="4">
    </div>
    <div class="thumbnail">
      <img src="image-product-1-thumbnail.jpg" alt="">
      <img src="image-product-2-thumbnail.jpg" alt="">
      <img src="image-product-3-thumbnail.jpg" alt="">
      <img src="image-product-4-thumbnail.jpg" alt="">
    </div>
  </div>