<div class="slider-container">
    <button class="slider-button " id="prevBtn">
      <div class="icon-container">
        <img style="width: 1rem;" class="icon" src="icon-previous.svg" alt="">
      </div>
    </button>
    <button class="slider-button " id="nextBtn">
      <div class="icon-container">
        <img style="width: 1rem;" class="icon" src="icon-next.svg" alt="">
      </div>
    </button>
    <div class="slider">
      <figure class="slides">
        <img class="slide" src="image-product-1.jpg" alt="">
        <img class="slide" src="image-product-2.jpg" alt="">
        <img class="slide" src="image-product-3.jpg" alt="">
        <img class="slide" src="image-product-4.jpg" alt="">
      </figure>
    </div>
  </div> 
  
  <div class="slider-container">
          <div class="slider">
              <div class="slides">
                  <img src="image-product-1.jpg" alt="1">
                  <img src="image-product-2.jpg" alt="2">
                  <img src="image-product-3.jpg" alt="3">
                  <img src="image-product-4.jpg" alt="4">
              </div>
          </div>
      </div>
      <button id="prevbtn">prev</button>
      <button id="nextbtn">next</button>