<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="Item">
  <div class="item-img"><img src="image-product-1-thumbnail.jpg" alt=""></div>
  <div class="item-descrition">
    <p>Fall Limited Edition Sneakers</p>
    <p>$125.00 x <span class="item-number">2</span> <span class="total-price">10000</span></p>
  </div>
  <div class="delete">🗑️</div>
</div>
  <button class="button checkOutBtn">
    <span>Checkout</span>
  </button>

<script src="app.js"></script>
</body>
</html>